@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
.logo{
    width: 200px;
    height: 50px;
    margin: 2px ;
}
#nav{
    margin: 0px 90px;
}
#nav li a{
    color: #fff;
    margin: 0px 10px;
    font-family: 'Lato', sans-serif;
}
#nav li a:hover{
    color: rgb(215, 14, 20);
}
#nav2{
    background-color: red;
    border-radius: 20px;
    border: 3px solid #fff;
}
#nav2 li a{
    color: #fff;
    font-size: 20px;
}
#nav2 li a:hover{
    color: black;
}
#img{
    margin-top: 100px;
}
#itens{
    padding: 20px 0px;
    background-color: #000;
}
#blocos{
    margin-bottom: 20px;
}
#texto1{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 30px;
    padding-bottom: 20px;

}
.images1{
    width: 100px;
    height: 95px;
}
.images2{
    width: 150px;
    height: 95px;
}
.images3{
    width: 100px;
    height: 95px;
}
.images4{
    width: 200px;
    height: 95px;
}
.images5{
    width: 150px;
    height: 95px;
}
.images6{
    width: 100px;
    height: 95px;
}
#bloco2{
    background:#000;
}
#texto2{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 30px;
    margin-bottom: 20px;
}
#servico{
    padding: 0px 50px;
}
#servicoIcone{
    color: #fff;
    font-size: 50px;
    padding: 10px 0px;
}
#servicoTexto{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 15px;
    padding: 10px 0px;
}
#servicoTitulo{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 20px;

}
#seminovos1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #000;
    padding-right: 0px;
    background:  rgb(233, 232, 232);
}
#seminovos{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #000;
    padding-top: 10px;
    background:  rgb(233, 232, 232);
}
#imgcarro{
    border-bottom: 3px solid #000;
}
#contato{
    background-color: #000;
}
#texto3{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 30px;
    padding-top: 30px;
}
#mapa{
    padding: 100px 0px;
    padding-right: 10px;
}
#maps{
    border-radius: 20px;
}
#caixa{
    padding: 30px 10px;
}
#comunicacao{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 30px;
}
#campos{
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
#button{
    width: 165px;
    height: 57px;

    margin-top: 1rem;;

    background: rgb(215, 14, 20);
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    cursor: pointer;
    border: none;

    color: white;
}
#footer{
    background-color: #000;
    padding: 0px 50px;
    border-top: red;
}
#footer1{
    border-top: 3px solid #fff;
}
#footer11{
    padding: 20px 0px;
}
#footer12{
    padding: 20px 0px;
}
#footer12 h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 15px;
}
#footericone{
    padding-right: 10px;
}

#footer2{
    background-color: #fff;
}
#footer02{
    padding: 0px 400px;
}
#footertext{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 30px;
    padding-top: 20px;
}
.logo_footer21{
    height: 150px;
    margin: 20px 0px;
}
.logo_footer22{
    height: 80px;
    margin: 20px 0px;
}